# Вычисления с помощью Numpy

# Задача 1

In [11]:
"""
Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. 
Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. 
Будем считать, что каждый столбец - это признак, а строка - наблюдение. 
Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. 
Результат запишите в массив mean_a, в нем должно быть 2 элемента.
"""
import numpy as np
a = np.array([[1,6],[2,8],[3,11],[3,10],[1,7]], int)
print(a)
print(f"Среднее по первому признаку: {a[:, :1].mean()}")
print(f"Среднее по первому признаку: {a[:, 1:2].mean()}")

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
Среднее по первому признаку: 2.0
Среднее по первому признаку: 8.4

# Задача 2

In [90]:
"""
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, 
содержащиеся в массиве mean_a. 
Вычисление должно производиться в одно действие. 
Получившийся массив должен иметь размер 5x2.
"""
mean_a = np.array([a[:, :1].mean(), a[:, 1:].mean()], float)
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

# Задача 3

In [91]:
"""
Найдите скалярное произведение столбцов массива a_centered.
В результате должна получиться величина a_centered_sp.
Затем поделите a_centered_sp на N-1, где N - число наблюдений.
"""
a_centered_sp = np.dot(a_centered[:, :1].reshape(5), a_centered[:, 1:].reshape(5))
print(f"Скалярное произведение: {a_centered_sp}")
print(f"Отношение: {a_centered_sp / (a_centered.shape[0]-1)}")

Скалярное произведение: 8.0
Отношение: 2.0

# Задание 4

In [92]:
"""
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. 
В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. 
В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации 
будет равно элементу в строке с индексом 0 и столбце с индексом 1.
"""
print(f"Ковариация: {np.cov(a.T)[0,1]}")

Ковариация: 2.0

# Работа с данными в Pandas

# Задача 1

In [3]:
"""
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. 
Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] 
и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3], 
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].
"""

import pandas as pd

authors = pd.DataFrame({
    'author_id': [1,2,3],
    'author_name': ['Тургенев', 'Чехов', 'Островский']
})
book = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290]
    
})
display(authors)
display(book)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

# Задание 2

In [5]:
"""
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id
"""
authors_price = book.merge(authors, on='author_id')
authors_price

   author_id            book_title  price author_name
0          1           Отцы и дети    450    Тургенев
1          1                 Рудин    300    Тургенев
2          1     Дворянское гнездо    350    Тургенев
3          2      Толстый и тонкий    500       Чехов
4          2       Дама с собачкой    450       Чехов
5          3                 Гроза    370  Островский
6          3  Таланты и поклонники    290  Островский

# Задание 3

In [9]:
"""
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.
"""
top5 = authors_price.sort_values('price', ascending=False).head()
top5

   author_id         book_title  price author_name
3          2   Толстый и тонкий    500       Чехов
0          1        Отцы и дети    450    Тургенев
4          2    Дама с собачкой    450       Чехов
5          3              Гроза    370  Островский
2          1  Дворянское гнездо    350    Тургенев

# Задание 4

In [71]:
"""
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора.
"""
authors_stat = pd.pivot_table(authors_price, index=['author_name'], values=['price'], 
                       aggfunc={'price':[min, max, np.mean]}).rename(
    columns={"max":"max_price","min":"min_price","mean":"mean_price"})

authors_stat.columns = authors_stat.columns.droplevel(0)
authors_stat.columns.name = None               
authors_stat = authors_stat.reset_index() 
authors_stat

  author_name  max_price  mean_price  min_price
0  Островский      370.0  330.000000      290.0
1    Тургенев      450.0  366.666667      300.0
2       Чехов      500.0  475.000000      450.0

# Задание 5

In [103]:
"""
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, 
какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.
Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. 
Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", 
а индексами должны быть фамилии авторов. 
Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". 
Затем загрузите из этого файла датафрейм и назовите его book_info2. 
Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

"""
import pickle

authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
book_info = pd.pivot_table(authors_price, index=['author_name'], columns='cover', aggfunc='sum', values='price', fill_value=0).reset_index()
book_info.columns.name = None               
book_info = book_info.reset_index(drop=True) 
book_info

  author_name  мягкая  твердая
0  Островский     660        0
1    Тургенев     650      450
2       Чехов       0      950

In [104]:
with open('book_info.pkl', 'wb') as f:
    pickle.dump(book_info, f)

In [105]:
with open('book_info.pkl', 'rb') as f:
    book_info2 = pd.DataFrame(pickle.load(f))

book_info2

  author_name  мягкая  твердая
0  Островский     660        0
1    Тургенев     650      450
2       Чехов       0      950